email-3-fixed.json
{
    "name": "Email 3 - Final Call",
    "flow": [
        {
            "id": 7,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "fourDaysAgo",
                "scope": "roundtrip",
                "value": "{{addDays(now; -4)}}"
            },
            "metadata": {
                "designer": {
                    "x": -241,
                    "y": -5
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "fourDaysAgo",
                        "type": "any",
                        "label": "fourDaysAgo"
                    }
                ]
            }
        },
        {
            "id": 1,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 8689880
            },
            "mapper": {
                "from": "drive",
                "filter": [
                    [
                        {
                            "a": "E",
                            "b": "Email 2 Sent",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sheetId": "leads",
                "sortOrder": "asc",
                "spreadsheetId": "1cv2JYytpapLB24UsvPsHAtoYyu2vaIQA1pZGhNWjfyQ",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "leads"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "UAE Property Expo"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (luxsess2001@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Name (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Email (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Phone (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Language (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Status (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Date Added (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Email 1 Date (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "Email 2 Date (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "Email 3 Date (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "Notes (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 8,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "testCol0",
                        "value": "{{1.`0`}}"
                    },
                    {
                        "name": "testCol1",
                        "value": "{{1.`1`}}"
                    },
                    {
                        "name": "testCol2",
                        "value": "{{1.`2`}}"
                    },
                    {
                        "name": "testCol3",
                        "value": "{{1.`3`}}"
                    },
                    {
                        "name": "rowCount",
                        "value": "{{1.__IMTLENGTH__}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "testCol0",
                        "type": "any",
                        "label": "testCol0"
                    },
                    {
                        "name": "testCol1",
                        "type": "any",
                        "label": "testCol1"
                    },
                    {
                        "name": "testCol2",
                        "type": "any",
                        "label": "testCol2"
                    },
                    {
                        "name": "testCol3",
                        "type": "any",
                        "label": "testCol3"
                    },
                    {
                        "name": "rowCount",
                        "type": "any",
                        "label": "rowCount"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "resend:sendAnEmail",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 12957318
                            },
                            "mapper": {
                                "to": [
                                    {
                                        "value": "{{8.testCol1}}"
                                    }
                                ],
                                "from": "sales@thesmartpro.io",
                                "html": "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n    <meta charset=\"UTF-8\">\r\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\r\n    <title>UAE Property Expo - Reminder</title>\r\n</head>\r\n<body style=\"margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f5f5f5;\">\r\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #f5f5f5;\">\r\n        <tr>\r\n            <td align=\"center\" style=\"padding: 20px 0;\">\r\n                <table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #FFFFFF; max-width: 600px; width: 100%;\">\r\n                    <!-- Header Image -->\r\n                    <tr>\r\n                        <td>\r\n                            <img src=\"https://i.imgur.com/9GWYlQI.jpeg\" alt=\"UAE Property Expo Muscat\" style=\"width: 100%; height: auto; display: block; max-width: 600px;\">\r\n                        </td>\r\n                    </tr>\r\n                    <!-- Content -->\r\n                    <tr>\r\n                        <td style=\"padding: 40px 30px; background-color: #FFFFFF;\">\r\n                            <h1 style=\"color: #1E4168; font-size: 28px; margin: 0 0 20px 0; text-align: center;\">Reminder: Don't Miss Out!</h1>\r\n                            <p style=\"color: #333333; font-size: 16px; line-height: 1.6; margin: 0 0 20px 0;\">\r\n                                Dear Valued Guest,\r\n                            </p>\r\n                            <p style=\"color: #333333; font-size: 16px; line-height: 1.6; margin: 0 0 20px 0;\">\r\n                                This is a friendly reminder about the upcoming <strong style=\"color: #C40021;\">UAE Property Expo – Muscat</strong>. The event is just around the corner, and we don't want you to miss this exceptional opportunity!\r\n                            </p>\r\n                            <div style=\"background: linear-gradient(135deg, #1E4168 0%, #000000 100%); color: #FFFFFF; padding: 30px; border-radius: 8px; margin: 30px 0; text-align: center;\">\r\n                                <p style=\"margin: 0 0 10px 0; font-size: 18px; font-weight: bold; color: #D4AF37;\">📅 26–27 December 2025</p>\r\n                                <p style=\"margin: 0; font-size: 16px;\">📍 Grand Hyatt, Muscat</p>\r\n                            </div>\r\n                            <p style=\"color: #333333; font-size: 16px; line-height: 1.6; margin: 0 0 20px 0;\">\r\n                                <strong style=\"color: #C40021;\">What to expect:</strong>\r\n                            </p>\r\n                            <ul style=\"color: #333333; font-size: 16px; line-height: 1.8; margin: 0 0 20px 0; padding-left: 20px;\">\r\n                                <li>Exclusive luxury properties from top UAE developers</li>\r\n                                <li>Direct access to property experts and consultants</li>\r\n                                <li>Special expo-only promotions and financing options</li>\r\n                                <li>Market insights and investment opportunities</li>\r\n                                <li>Networking with industry professionals</li>\r\n                            </ul>\r\n                            <p style=\"color: #333333; font-size: 16px; line-height: 1.6; margin: 0 0 30px 0;\">\r\n                                Secure your spot today and be part of this premier real estate event!\r\n                            </p>\r\n                            <!-- CTA Button -->\r\n                            <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\r\n                                <tr>\r\n                                    <td align=\"center\" style=\"padding: 20px 0;\">\r\n                                        <a href=\"#\" style=\"display: inline-block; padding: 15px 40px; background: linear-gradient(135deg, #C40021 0%, #a0001a 100%); color: #FFFFFF; text-decoration: none; border-radius: 50px; font-weight: bold; font-size: 18px; box-shadow: 0 5px 15px rgba(196, 0, 33, 0.4);\">Link Coming Soon</a>\r\n                                    </td>\r\n                                </tr>\r\n                            </table>\r\n                            <!-- Contact Info -->\r\n                            <div style=\"background-color: #f9f9f9; padding: 20px; border-radius: 8px; margin-top: 30px; border-left: 4px solid #C40021;\">\r\n                                <p style=\"color: #1E4168; font-size: 14px; margin: 5px 0; font-weight: bold;\">Contact Us:</p>\r\n                                <p style=\"color: #333333; font-size: 14px; margin: 5px 0;\">UAE: <a href=\"tel:+971585312174\" style=\"color: #C40021; text-decoration: none;\">+971 58 531 2174</a></p>\r\n                                <p style=\"color: #333333; font-size: 14px; margin: 5px 0;\">Oman: <a href=\"tel:+96897083232\" style=\"color: #C40021; text-decoration: none;\">+968 970 83232</a> | <a href=\"tel:+96879665511\" style=\"color: #C40021; text-decoration: none;\">+968 796 65511</a></p>\r\n                                <p style=\"color: #333333; font-size: 14px; margin: 5px 0;\">Email: <a href=\"mailto:sales@thesmartpro.io\" style=\"color: #C40021; text-decoration: none;\">sales@thesmartpro.io</a></p>\r\n                                <p style=\"color: #333333; font-size: 14px; margin: 5px 0;\">Website: <a href=\"https://www.thesmartpro.io\" style=\"color: #C40021; text-decoration: none;\">www.thesmartpro.io</a></p>\r\n                            </div>\r\n                            <p style=\"color: #666666; font-size: 12px; margin: 30px 0 0 0; text-align: center;\">\r\n                                Organized by: UAE Property Expo • Falcon Eye • Globo\r\n                            </p>\r\n                        </td>\r\n                    </tr>\r\n                </table>\r\n            </td>\r\n        </tr>\r\n    </table>\r\n</body>\r\n</html>",
                                "subject": "⏰ Final Call - UAE Property Expo Starts Soon!",
                                "sendEmailAs": "html"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": -150
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "tags": {
                                            "mode": "chose"
                                        },
                                        "headers": {
                                            "mode": "chose"
                                        },
                                        "replyTo": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "sendEmailAs": {
                                            "mode": "chose",
                                            "label": "HTML"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "resend"
                                            },
                                            "label": "Resend Email Service"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:resend",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email"
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email"
                                        },
                                        "type": "array",
                                        "label": "BCC"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email"
                                        },
                                        "type": "array",
                                        "label": "CC"
                                    },
                                    {
                                        "name": "replyTo",
                                        "spec": {
                                            "name": "value",
                                            "type": "email"
                                        },
                                        "type": "array",
                                        "label": "Reply-To"
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject",
                                        "required": true
                                    },
                                    {
                                        "name": "scheduled_at",
                                        "time": true,
                                        "type": "date",
                                        "label": "Schedule For"
                                    },
                                    {
                                        "name": "sendEmailAs",
                                        "type": "select",
                                        "label": "Send Email As",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tags",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tags"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File name"
                                            },
                                            {
                                                "name": "path",
                                                "type": "text",
                                                "label": "Path"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key"
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Header"
                                        },
                                        "type": "array",
                                        "label": "Custom Headers"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "HTML Content"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 5,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 8689880
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "4": "Email 3 Sent",
                                    "8": "{{now}}"
                                },
                                "sheetId": "leads",
                                "rowNumber": "{{1.__ROW_NUMBER__}}",
                                "spreadsheetId": "/127Kk2lIQrAu9ayn2ptF8bRxUTgAtZdp6/1cv2JYytpapLB24UsvPsHAtoYyu2vaIQA1pZGhNWjfyQ",
                                "includesHeaders": true,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": -150
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "leads"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "property show",
                                                "UAE Property Expo"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Name (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Email (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Phone (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Language (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Status (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Date Added (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Email 1 Date (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Email 2 Date (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "Email 3 Date (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "Notes (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (luxsess2001@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Name (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Email (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Phone (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Language (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Status (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Date Added (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Email 1 Date (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Email 2 Date (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "Email 3 Date (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "Notes (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "resend:sendAnEmail",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 12957318
                            },
                            "mapper": {
                                "to": [
                                    {
                                        "value": "{{8.testCol1}}"
                                    }
                                ],
                                "from": "sales@thesmartpro.io",
                                "html": "<!DOCTYPE html>\r\n<html lang=\"ar\" dir=\"rtl\">\r\n<head>\r\n    <meta charset=\"UTF-8\">\r\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\r\n    <title>معرض عقارات الإمارات - تذكير</title>\r\n</head>\r\n<body style=\"margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f5f5f5; direction: rtl;\">\r\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #f5f5f5;\">\r\n        <tr>\r\n            <td align=\"center\" style=\"padding: 20px 0;\">\r\n                <table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #FFFFFF; max-width: 600px; width: 100%;\">\r\n                    <!-- Header Image -->\r\n                    <tr>\r\n                        <td>\r\n                            <img src=\"https://i.imgur.com/r0drplC.jpeg\" alt=\"معرض عقارات الإمارات مسقط\" style=\"width: 100%; height: auto; display: block; max-width: 600px;\">\r\n                        </td>\r\n                    </tr>\r\n                    <!-- Content -->\r\n                    <tr>\r\n                        <td style=\"padding: 40px 30px; background-color: #FFFFFF; direction: rtl; text-align: right;\">\r\n                            <h1 style=\"color: #1E4168; font-size: 28px; margin: 0 0 20px 0; text-align: center;\">تذكير: لا تفوت الفرصة!</h1>\r\n                            <p style=\"color: #333333; font-size: 16px; line-height: 1.6; margin: 0 0 20px 0;\">\r\n                                عزيزي الضيف الكريم،\r\n                            </p>\r\n                            <p style=\"color: #333333; font-size: 16px; line-height: 1.6; margin: 0 0 20px 0;\">\r\n                                هذا تذكير ودود حول <strong style=\"color: #C40021;\">معرض عقارات الإمارات – مسقط</strong> القادم. الحدث على وشك البدء، ولا نريدك أن تفوت هذه الفرصة الاستثنائية!\r\n                            </p>\r\n                            <div style=\"background: linear-gradient(135deg, #1E4168 0%, #000000 100%); color: #FFFFFF; padding: 30px; border-radius: 8px; margin: 30px 0; text-align: center;\">\r\n                                <p style=\"margin: 0 0 10px 0; font-size: 18px; font-weight: bold; color: #D4AF37;\">📅 26–27 ديسمبر 2025</p>\r\n                                <p style=\"margin: 0; font-size: 16px;\">📍 جراند حياة، مسقط</p>\r\n                            </div>\r\n                            <p style=\"color: #333333; font-size: 16px; line-height: 1.6; margin: 0 0 20px 0;\">\r\n                                <strong style=\"color: #C40021;\">ما يمكنك توقعه:</strong>\r\n                            </p>\r\n                            <ul style=\"color: #333333; font-size: 16px; line-height: 1.8; margin: 0 0 20px 0; padding-right: 20px;\">\r\n                                <li>عقارات فاخرة حصرية من أفضل مطوري الإمارات</li>\r\n                                <li>وصول مباشر إلى خبراء العقارات والمستشارين</li>\r\n                                <li>عروض خاصة للمعرض فقط وخيارات التمويل</li>\r\n                                <li>رؤى السوق وفرص الاستثمار</li>\r\n                                <li>التواصل مع المهنيين في الصناعة</li>\r\n                            </ul>\r\n                            <p style=\"color: #333333; font-size: 16px; line-height: 1.6; margin: 0 0 30px 0;\">\r\n                                احجز مكانك اليوم وكن جزءاً من هذا الحدث العقاري الرائد!\r\n                            </p>\r\n                            <!-- CTA Button -->\r\n                            <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\r\n                                <tr>\r\n                                    <td align=\"center\" style=\"padding: 20px 0;\">\r\n                                        <a href=\"#\" style=\"display: inline-block; padding: 15px 40px; background: linear-gradient(135deg, #C40021 0%, #a0001a 100%); color: #FFFFFF; text-decoration: none; border-radius: 50px; font-weight: bold; font-size: 18px; box-shadow: 0 5px 15px rgba(196, 0, 33, 0.4);\">الرابط قريباً</a>\r\n                                    </td>\r\n                                </tr>\r\n                            </table>\r\n                            <!-- Contact Info -->\r\n                            <div style=\"background-color: #f9f9f9; padding: 20px; border-radius: 8px; margin-top: 30px; border-right: 4px solid #C40021;\">\r\n                                <p style=\"color: #1E4168; font-size: 14px; margin: 5px 0; font-weight: bold;\">اتصل بنا:</p>\r\n                                <p style=\"color: #333333; font-size: 14px; margin: 5px 0;\">الإمارات: <a href=\"tel:+971585312174\" style=\"color: #C40021; text-decoration: none;\">+971 58 531 2174</a></p>\r\n                                <p style=\"color: #333333; font-size: 14px; margin: 5px 0;\">عمان: <a href=\"tel:+96897083232\" style=\"color: #C40021; text-decoration: none;\">+968 970 83232</a> | <a href=\"tel:+96879665511\" style=\"color: #C40021; text-decoration: none;\">+968 796 65511</a></p>\r\n                                <p style=\"color: #333333; font-size: 14px; margin: 5px 0;\">البريد الإلكتروني: <a href=\"mailto:sales@thesmartpro.io\" style=\"color: #C40021; text-decoration: none;\">sales@thesmartpro.io</a></p>\r\n                                <p style=\"color: #333333; font-size: 14px; margin: 5px 0;\">الموقع الإلكتروني: <a href=\"https://www.thesmartpro.io\" style=\"color: #C40021; text-decoration: none;\">www.thesmartpro.io</a></p>\r\n                            </div>\r\n                            <p style=\"color: #666666; font-size: 12px; margin: 30px 0 0 0; text-align: center;\">\r\n                                منظم من قبل: معرض عقارات الإمارات • فالكون آي • جلوبو\r\n                            </p>\r\n                        </td>\r\n                    </tr>\r\n                </table>\r\n            </td>\r\n        </tr>\r\n    </table>\r\n</body>\r\n</html>",
                                "subject": "تذكير: لا تفوت معرض عقارات الإمارات – مسقط",
                                "sendEmailAs": "html"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 925,
                                    "y": 145
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "tags": {
                                            "mode": "chose"
                                        },
                                        "headers": {
                                            "mode": "chose"
                                        },
                                        "replyTo": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "sendEmailAs": {
                                            "mode": "chose",
                                            "label": "HTML"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "resend"
                                            },
                                            "label": "Resend Email Service"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:resend",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email"
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email"
                                        },
                                        "type": "array",
                                        "label": "BCC"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email"
                                        },
                                        "type": "array",
                                        "label": "CC"
                                    },
                                    {
                                        "name": "replyTo",
                                        "spec": {
                                            "name": "value",
                                            "type": "email"
                                        },
                                        "type": "array",
                                        "label": "Reply-To"
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject",
                                        "required": true
                                    },
                                    {
                                        "name": "scheduled_at",
                                        "time": true,
                                        "type": "date",
                                        "label": "Schedule For"
                                    },
                                    {
                                        "name": "sendEmailAs",
                                        "type": "select",
                                        "label": "Send Email As",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tags",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tags"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File name"
                                            },
                                            {
                                                "name": "path",
                                                "type": "text",
                                                "label": "Path"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key"
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Header"
                                        },
                                        "type": "array",
                                        "label": "Custom Headers"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "HTML Content"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 8689880
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "4": "Email 3 Sent",
                                    "8": "{{now}}"
                                },
                                "sheetId": "leads",
                                "rowNumber": "{{1.__ROW_NUMBER__}}",
                                "spreadsheetId": "/127Kk2lIQrAu9ayn2ptF8bRxUTgAtZdp6/1cv2JYytpapLB24UsvPsHAtoYyu2vaIQA1pZGhNWjfyQ",
                                "includesHeaders": true,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1199,
                                    "y": 141
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "leads"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "property show",
                                                "UAE Property Expo"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Name (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Email (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Phone (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Language (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Status (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Date Added (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Email 1 Date (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Email 2 Date (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "Email 3 Date (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "Notes (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (luxsess2001@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Name (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Email (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Phone (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Language (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Status (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Date Added (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Email 1 Date (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Email 2 Date (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "Email 3 Date (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "Notes (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}

